@alsadaMenu:50px;

html {
        height:100%;
        
        body{
            height: 100%;

        nav {
            background-color: rgb(165, 189, 217);
            //border-bottom: 1px solid black;
            position:fixed;
            top:0px;
            left: 0px;
            width: 100%;
            height: @alsadaMenu;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            >ul {
                display: flex;    
                //justify-content: space-around;   
                
                height: 100%;       
                li{
                    font-weight: normal;
                    flex:1;
                    text-align: center;
                    padding: 15px;
                    position: relative;
                    &:after{
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0%;
                        left: 0%;
                        width: 100%;
                        height: 100%;
                        transition: all 0.5s;
                        background-color: rgba(0, 0, 0, 0);
                    }
                    li {
                        border-left: 1px solid black;
                        border-right: 1px solid black;

                    }
                    li:hover {
                        >ul {
                            //display: block;
                            opacity: 1;                     
                            left: 100%;
                        }
                    }
                    &:hover {
                        font-weight: bold;
                        
                        &:after {                            
                            background-color: rgba(128, 255, 0, 0.151);
                        }
                        
                       >ul {
                        //display: block;
                        opacity: 1;
                 
            
                       } 
                    }
                    border-bottom: 1px solid black;
                }  
                ul {
                    display: block;
                    opacity: 0;
                    
                    width: 100%;
                    position:absolute;
                    top: calc( 100% + 1px );
                    left: 0%;
                    background-color: rgb(205, 211, 219);
                    ul {
                        left: 0%;
                        top:0%;
                        transition: all 1s;
                    }
                    -webkit-box-shadow: 9px 10px 16px -5px rgba(0,0,0,0.75);
                    -moz-box-shadow: 9px 10px 16px -5px rgba(0,0,0,0.75);
                    box-shadow: 9px 10px 16px -5px rgba(0,0,0,0.75);
                }                
            }

        }

            main {
                font-family: Georgia, 'Times New Roman', Times, serif;
                margin-top: @alsadaMenu;    
                padding: 20px;
                font-size: 0.7em;
                line-height: 1.3em;
                img {
                    display: block;
                    float: left;
                    margin: 20px;
                }
            }
        }
}
