html {
  height: 100%;
}
html body {
  height: 100%;
}
html main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
html main .capsa {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: rebeccapurple;
  /* &:hover:after {
                    transform:rotate(90deg);
                    transform-origin:  -90px 10px;
                }&:hover:before{
                    transform:rotate(90deg);
                    transform-origin:  +130px 10px;
                }
                &:after, &:before{
                    transition: 1s all;
                }*/
}
html main .capsa:after,
html main .capsa:before {
  content: "";
  display: block;
  width: 10%;
  height: 10%;
  background-color: aqua;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
}
html main .capsa:before {
  left: auto;
  right: 100%;
}
html main .capsa:hover:after {
  bottom: 100%;
  top: auto;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
}
html main .capsa:hover:before {
  top: 100%;
  bottom: auto;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
}
