
html {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 12px;
   ul{
      display: flex;
      justify-content: space-around;

      li{
         display: block;
         padding: 15px;
      }
   }
}
