
html {
         height:100vh;
         body{
            height:100vh;
            main {
                height: 100%;
                .graella{
                    height: 100%;
                    display: grid;
                    grid-template-columns: [linia_inicial] 25fr 75fr 25fr;
                    grid-template-rows: 20px 1fr 20px;
                    grid-template-areas:
                    "header header header"
                    "aside main main"
                    "footer footer footer";
                    div{
                        width: 100%;
                        height: 100%;
                        &.A{
                            background-color: blue;
                            grid-area: header;
                            //grid-column: linia_inicial / span 3;
                            //grid-row: 1 / 2;
                        }
                        &.B{
                            background-color: red;
                            grid-area: main;
                        }
                        &.C{
                            background-color: green;
                            grid-area: footer;
                        }
                    }
                }
            }
        }
}
